.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/generative-ai-amazon-bedrock-langchain-agent-example/FileContentIndex/053e42d3-5fed-4fac-afc1-5b7e50be2954.vsidx
.vs/generative-ai-amazon-bedrock-langchain-agent-example/FileContentIndex/read.lock
.vs/generative-ai-amazon-bedrock-langchain-agent-example/v17/.wsuo
